
h1{
  text-align: center;
}

#background{
  background-color: black;
}

#top{
  width: 100%;
  height: 500px;
}

#title{
  color: lightblue;
  position: relative;
  z-index: 1;
  font-size: 58px;
}

#video{
  position: absolute;
  z-index: -1;
}

#bottom{
  width: 100%;
  height: 500px;
  font-size: 18px;
}

h2{
  color: lightgreen;
}

p{
  color: pink;
}
